!!! 5
html(lang="en")
  head
    title Prime factors
  body
    #title Prime factors
    #invitation Type the number to break down
    form
      input#number(type="text", name="number")
      button#go Go!

    #result
    script(type='text/javascript', src='/static/lib/jquery-2.0.3.min.js')
    script(type='text/javascript', src='/static/js/primeFactors.js')
