!!! 5
html(lang="en")
    head
        title Prime factors
    body
        #title Prime factors
        #invitation Type the number to break down
        form
            input#number(type="text")
            button#go Go!

        #result 3240 = 2 x 2 x 2 x 3 x 3 x 3 x 3 x 5
