!!! 5
html(lang="en")
    head
        title Prime factors
    body
        #title Prime factors
        #invitation Type the number to break down
        form(method="post", action="/primeFactors/ui")
            input#number(type="text", name="number")
            button#go(type="submit") Go!

        #result= result
